<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ddt.sms16.ivu.di.uniba.it.easycar">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <meta-data android:name="ddt.sms16.ivu.di.uniba.it.easycar"
        android:value="@integer/google_play_services_version" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.ActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BaseActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PrendiFoto"
            android:label="@string/title_activity_prendi_foto"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DettaglioAutoUtente"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AggiuntaManutenzione"
            android:label="Aggiunta manutenzione"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".AggiuntaAuto"
            android:label="Aggiunta auto"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".AggiuntaProblema"
            android:label="AggiuntaProblema"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".RegistrazioneUtente"
            android:label="RegistraUtente"
            android:theme="@style/AppTheme.NoActionBar"
        />
        <activity android:name=".AggiuntaScadenza"
            android:label="Aggiunta scadenza"
            android:theme="@style/AppTheme.NoActionBar"></activity>
       <activity android:name=".GPS"
           android:label="GPS"
           android:theme="@style/AppTheme.NoActionBar"></activity>
        <service android:name=".UpdateService" />

    </application>

</manifest>